@viewport {
  width: device-width ;
  zoom: 1.0 ;
}


@media only screen and (max-width: 750px) {

  #copyText {
    width: 60;
  }
  #buttonHolder {
    width: 40%;
  }

  .helpBottom {
    font-size: 8vw;
    margin-top: 40px;
  }

  #inputBox {
    width: 37vw;
    font-size: 4vw;
  }

  #guessButton {
    font-size: 4vw;
  }
  #incorrect {
    font-size: 4vw;
  }
  #guessPlayer {
    font-size: 4vw;
  }

  #license2 {
    font-size: 4vw;
  }

  #coffee {
    padding-left: 2.5vw;
  }

  .helpText {
    font-size: 5vw;
    margin-top: 30px;
  }

  .helpTitle {
    font-size: 8vw;
    margin-bottom: 0px;
    margin-top: 40px;
  }
  
  #helpDiv {
    width: 102vw;
    margin-left:-10px;
  }

  #popup {
    width: 70vw;
    margin-left: -29vw;
  }
    
  #iconDiv {
    left: 6vw;
  }
  #statsDiv {
    left: 89vw;
  }
  
  #help {
    font-size: 10vw;
  }
  #stats {
    font-size: 10vw;
  }
  #winLoseTitle {
    padding-top: 10px;
    font-size: 10vw;
  }
  #reveal {
    font-size: 4vw;
  }
  #message {
    font-size: 4vw;
    padding-bottom: 10px;
  }
  #copyText {
    font-size: 4vw;
  }
  #copyButton {
    padding-bottom: 10px;
    font-size: 4vw;
  }
  #time {
    font-size: 4vw;
    padding-bottom: 10px;
  }
  #shareButton {
    padding-bottom: 10px;
  }
  #share {
    font-size: 4vw;
  }
  .rect {
    width: 14vw;
    height: 14vw;
    border-radius: 2vw;
    border: 1px solid black;
  }

  #mainTableTD {
    font-size: 3vw;
    padding: 0;
    padding-bottom: 0.3vw;
  }

  #title {
    font-size: 9vw;
    top: 0%;
    padding: 0px;
    margin-left: 10vw;
    margin-top: 2vh;
  }
  
  #boxText {
    font-size:3.3vw;
    line-height: 3.2vw;
  }

  .popupElement {
    padding-top: 10px;
  }

  #mainDiv {
    width: 100%;
  }

  th {
    font-size:3.2vw;
  }

  #mainTable {
    width: 99%;
    border-spacing: 0;
    margin-left: -2px;
    padding-left: 0px;
  }

  .playerLabel {
    font-size: 2.7vw;
  }

  #guessHolder {
    margin-top: 10px;
    height: 4.5vh;
    margin-bottom: 10px;
  }
}
 

 
/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 751px) {
  
  #copyText {
    width: 70%;
  }
  #buttonHolder {
    width: 10%;
  }

  #spacer {
    width: 20%;
  }

  #inputBox {
    width: 32vw;
  }

  #license2 {
    font-size: 1.7vw;
  }

  #help {
    font-size: 6vw;
  }

  #stats {
    font-size: 6vw;
  }

  #title {
    font-size: 4vw;
    width: auto;
    margin-left: 9vw;  
    margin-top: 4vh;
  }
  .popupElement {
    padding-top: 10px;
  }
  #popup {
    width: 34vw;
    margin-left: -13vw;
  }
  #boxText {
    font-size:1.6vw;
  }
  #mainDiv {
    width: 55vw;
    margin-left: 21vw;
  }

  #iconDiv {
    left: 27vw;
  }

  #statsDiv {
    left: 70vw;
  }
  
  th {
    font-size: 1.8vw;
  }

  #mainTableTD {
    padding: 0;
    padding-bottom: 0.2vw;
  }

  #mainTable {
    width: 100%;
    border-spacing: 0;
  }
  .playerLabel {
    font-size: 1.8vw;
    padding-right: 5px;
  }
  .rect {
    width: 7.5vw;
    height: 7.5vw;
    border-radius: 1vw;
    border: 2px solid black;
  }
  #reveal {
    font-size: 2vw;
  }
  #message {
    font-size: 2vw;
    padding-bottom: 10px;
  }
  #time {
    font-size: 2vw;
    padding-bottom: 10px;
  }
  #shareButton {
    padding-bottom: 10px;
  }
  #share {
    font-size: 2vw;
  }

  #winLoseTitle {
    padding-top: 10px;
    font-size: 5vw;
  }
  #copyText {
    padding-bottom: 10px;
    font-size: 1.5vw;
  }
  #copyButton {
    font-size: 1.5vw;
  }
  .helpBottom {
    font-size: 4vw;
    margin-top: 40px;
  }
  .helpText {
    font-size: 2vw;
    margin-top: 4vh;
  }

  .helpTitle {
    font-size: 4vw;
    margin-bottom: 0px;
    margin-top: 40px;
  }
  
  #helpDiv {
    width: 55vw;
    left:50%;
    margin-left:-27.5vw;
  }

  #guessButton {
    font-size: 2vw;
  }
  #incorrect {
    font-size: 2vw;
  }

  #inputBox {
    font-size: 2vw;
  }
  #guessPlayer {
    font-size: 2vw;
  }
  #guessHolder {
    margin-top: 10px;
    margin-bottom: 2vh;
    padding-right: 1.9vw;
  }
  #coffee {
    padding-left: 1.2vw;
  }
  
}

@keyframes drop {
  0%{opacity: 0}
  70%{
    transform: translateY(30vh)
  }
  100%{
    transform: translateY(20vh);
    opacity: 1;
  }
}

@keyframes hide {
  0%{
    transform: translateY(20vh);
    opacity: 1;
  }
  100%{
    transform: translateY(-30vh);
    opacity: 0;
  }
}


.popupElement {
  width: 100%;
  text-align: center;
  margin: 0px;
  color: white;
}

#winLoseTitle {
  font-family: "Rockwell";
}

#message {
  font-family: "Monaco";
}

#time {
  font-family: "Monaco";
}

#share {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

#shareButton {
  width: auto;
  background-color: rgb(50, 105, 25);
  border-color: rgb(66, 140, 32);
}

#reveal {
  text-align: center;
  font-family: "Monaco";
  vertical-align: middle;
  margin: 0px;
}

#popup {
  z-index: 1;
  position: absolute;
  visibility: hidden;
  border-radius: 20px;
  background-color: rgb(41, 41, 41);
}

#mainDiv {
  position: relative;
  height: auto;
}

#title {
  text-align: center;
  font-family: "Rockwell";
  margin-bottom: 1vh;
}

#mainTable {
  table-layout: fixed;
  font-family: "Arial";
}



.rect {
  background-color: white;
  
  margin: auto;
  display: table;
}

@keyframes rotateBox {
  0% {
    transform: rotateX(0.5turn)
  }
}

#teamLabel {
  display: table-cell;
  vertical-align: bottom;
  font-family: "Arial";
}

#countryLabel {
  display: table-cell;
  vertical-align: bottom;
  font-family: "Arial";
}

#numberLabel {
  display: table-cell;
  vertical-align: bottom;
  font-family: "Arial";
}

#ratingLabel {
  display: table-cell;
  vertical-align: bottom;
  font-family: "Arial";
}

#positionLabel {
  display: table-cell;
  vertical-align: bottom;
  font-family: "Arial";
}

.playerLabel {
  text-align: center;
  vertical-align: center;
  font-family: "Geneva";
  font-weight: bold;
}

#boxText {
  font-family: Marker Felt;
  text-align: center;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  padding-left: 1px;
  padding-right: 1px;
  color: white;
}


#screen {
  width:100%;
  height: 100%;
  position: fixed;
}

th {
  font-family: "Rockwell";
}

.helpText {
  color: rgb(172, 168, 168);
  font-family: "Monaco";
  margin-bottom: 0px;
  margin-left: 20px;
  margin-right: 20px;
}

.helpTitle {
  color: rgb(172, 168, 168);
  font-family: "Rockwell";
  text-align: center;
}

.helpBottom {
  color: rgb(172, 168, 168);
  font-family: "Rockwell";
  text-align: center;
}
#linkDiv {
  position: relative;
  width: 163px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}
#license {
  font-size: 2.5vh;
  margin-top: 0px;
  text-align: center;
  position: relative;
}

#helpDiv {
  top:0%;
  position: absolute;
  background-color: rgb(68, 68, 68);
  z-index: 2;
  margin-top:-20px;
  height:auto;
  visibility: hidden;
  text-align: center;
}
#iconDiv {
  position: absolute;
  z-index: 3;
  margin: 0;
  padding: 0px;
  margin-top: -0.7vh;
  width: auto;
}

#statsDiv {
  position: absolute;
  z-index: 3;
  margin: 0;
  padding: 0px;
  margin-top: -0.7vh;
  width: 100px;
  height: 100px;
}

#stats {
  padding: 0px;
  margin: 0px;
}

#popup {
  top: 0vh;
  height: auto;
  left: 50vw;
}

#inputBox {
  font-family: "Gill Sans";
}

#guessPlayer {
  height: auto;
  font-size: auto;
  text-align: center;
  font-family: "Gill Sans";
  padding: 1vw;
}

#guessButton {
  height: auto;
  width: auto;
  font-family: "Gill Sans";
}

.horizontalDiv {
  direction: horizontal;
  display: flex;
  position: relative;
  flex-direction: row; 
  align-items: center;
  justify-content: center;
}
#license2 {
  color: white;
  font-family: "Times New Roman";
  margin-top: 30px;
  margin-bottom: 20px;
}

#linkDiv2 {
  position: relative;
  width: 163px;
  margin: auto;
  margin-bottom: 0px;
}

#coffee {
  position: relative;
  display: table;
  margin: 0 auto;
  margin-bottom: 8px;
}

body {
  background-color:  rgba(159,249,176,1)
}

#adDiv {
  width: 100%;
  background-color: blue;
  position: relative;
}

#copy {
  background-color: rgb(41, 41, 41);
  border-radius: 20px;
  z-index: 4;
  direction: horizontal;
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  opacity: 1;
  margin-top: -20px;
}

#copyText {
  font-family: "Monaco";
  white-space: pre-line;
  color: white;
  text-align: center;
}

#buttonHolder {
  height: auto;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
}

#copyButton {
  width: auto;
  height: auto;
  font-family: "Monaco";
  text-align: center;
}

#success {
  color: white;
  font-family: "Monaco";
  text-align: center;
}

#incorrect {
  color: black;
  font-family: "Gill Sans";
  text-align: center;
  margin: 0px;
  padding: 0px;
}

#guessHolder {
  height: auto;
}